/*YOUR CUSTOM STYLES*/

/*Loader*/ 
#loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.loader {
    position: relative;
    top: 47.5%;
    left: 47.5%;
    width: 100px;
    height: 100px;
    z-index: 1000;
}

.my-panel {
    background-color: #f8f8f8 !important;
    padding: 0.01em 16px !important;
    margin: 25px 0 !important;
    box-shadow: 0 10px 35px 0 rgba(0,0,0,0.18),0 2px 2px 0 rgba(0,0,0,0.12) !important;
}

.my-card-carousel {
    margin: 20px 0 !important;
    box-shadow: 0 6px 25px 0 rgba(0,0,0,0.18),0 4px 6px 0 rgba(0,0,0,0.12) !important
}

.my-card {
    box-shadow: 0 6px 25px 0 rgba(0,0,0,0.18),0 4px 6px 0 rgba(0,0,0,0.12) !important
}

.swal2-image{
    width: unset !important;
    max-width: none !important;
}

/*Validacoes*/
.border-error {
    border: 1px solid rgba(255, 0, 0, 0.6);
}
/*input:valid {
    border: 1px solid green;
}*/
/*End Validacoes*/

.c-font-red{
    color: red;
} 

.btnTopo {
    padding: 0px;
    position: fixed;
    top: 84%;
    right: 35px;
    display: none;
    font-size: 50px;
    z-index: 9999;
}

.cadastro-produto{
    max-width:560px !important;
}

.slick-prev:before,
.slick-next:before {
    color: #2a8fbd;
}

.product-header {
    background-color: #adadad;
}
/*Rodape sempre ao final da pagina*/
html, body {
    height: 100%;
}

#tudo {
    min-height: 100%;
}

* html #tudo {
    height: 100%; /* hack para IE6 que trata height como min-height */
}

#tudo {
    position: relative;
}

#rodape {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#conteudo {
    padding-bottom: 30px;
}